/* 
Used fonts

font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Inria Sans', sans-serif; 300 400 400i 700 
*/

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Kdam+Thmor+Pro&display=swap');

#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5vh;
    margin-top: 30vh;
}

#aboutInfo {
    margin-right: 5vh;
}

.skills {
    width: 90vw;
    height: 55vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 0vh;
    align-self: center;
}

.skills p {
    font-size: 7vh;
    margin: 1vh;
    padding: 1vh;
    width: 6vh;
    aspect-ratio: 1 / 1;
}

#sideby {
    justify-content: space-between;
}

@media screen and (min-width: 444px) {
    #aboutInfo {
        font-size: 2.2vh;
    }

    .skills p {
        width: 8vh;
    }
}

@media screen and (min-width: 530px) {

    .skills p {
        font-size: 8vh;
        margin: 2vh;
    }
}

@media screen and (min-width: 600px) {
    h3 {
        font-size: 6vh;
    }

    #about {
        margin-left: 7vh;
    }

    #aboutInfo {
        width: 65vh;
    }

    .skills p {
        font-size: 9vh;
        margin: 3vh;
    }
}

@media screen and (min-width: 706px) {

    .skills p {
        font-size: 500%;
        margin: 5%;
    }
}

@media screen and (min-width: 880px) {

    .skills p {
        font-size: 9vh;
        margin: 3vh;
    }
    #aboutInfo {
        width: 80vh;
    }
}

@media screen and (min-width: 1100px) {
    #about {
        height: 80vh;
        margin-left: 10vh;
    }
    
    #sideby {
        display: flex;
    }
    
    #aboutInfo {
        width: 75vh;
    }

    .skills {
        justify-content: flex-end;
        width: 90vh;
        margin-right: 5vh;
    }

    .skills p {
        font-size: 8vh;
        margin: 4vh;
        width: 6vh;
    }
    
    h3 {
        font-size: 7vh;
    }
}

@media screen and (min-width: 1300px) {
    .skills {
        flex-wrap: 0 0 100%;
    }

    #about {
        margin-left: 25vh;
    }
}

@media screen and (min-width: 1500px) {

    .skills p {
        font-size: 8vh;
        margin: 4vh;
    }
}

