/* 
Used fonts

font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Inria Sans', sans-serif; 300 400 400i 700 
*/

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Kdam+Thmor+Pro&display=swap');

#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5vh;
    margin-top: 30vh;
}

#aboutInfo {
    margin-right: 5vh;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}

.skills p {
    font-size: 7vh;
    margin: 1vh;
    padding: 1vh;
    width: 6vh;
    aspect-ratio: 1 / 1;
    text-align: center;
}

#sideby {
    justify-content: space-between;
}

@media screen and (min-width: 444px) {
    #aboutInfo {
        font-size: 2.2vh;
    }

    .skills p {
        font-size: 7vh;
        width: 13vw;
    }
}

@media screen and (min-width: 530px) {
}

@media screen and (min-width: 600px) {
    h3 {
        font-size: 6vh;
    }

    #about {
        margin-left: 7vh;
    }

    .skills p {
        font-size: 9vw;
        width: 9vw;
    }

    #aboutInfo {
        width: 65vh;
    }
}

@media screen and (min-width: 832px) {
    #about {
        height: 80vh;
        margin-left: 10vh;
    }
    
    #sideby {
        display: flex;
    }
    
    #aboutInfo {
        width: 50vh;
        font-size: 2.5vh;
    }
    
    h3 {
        font-size: 7vh;
    }

    .skills p {
        font-size: 8vh;
    }
}

@media screen and (min-width: 1300px) {

    #about {
        margin-left: 25vh;
    }

    #aboutInfo {
        width: 50vh;
    }

    .skills p {
        margin: 0.5vh;
        font-size: 9vh;
        width: 15vh;
    }
}

@media screen and (min-width: 1500px) {

    #aboutInfo {
        width: 60vh;
    }

    .skills {
        margin-left: 10vh;
    }

    .skills p {
        margin: 0.5vh;
        font-size: 9vh;
        width: 15vh;
    }
}

