/* 
Used fonts

font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Inria Sans', sans-serif; 300 400 400i 700

JAPANESE
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Murecho', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Murecho:wght@300&display=swap');

#landingPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vh;
    transition: 0.3s ease-in-out;
}

#title {
    z-index: -1;
    color: white;
    margin: 0;
    line-height: 1.1;
    font-family: 'Kdam Thmor Pro', 'Kosugi Maru', sans-serif;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
}

#landing-contact {
    font-family: 'Inria Sans', 'Murecho', sans-serif, 'Times New Roman';
    font-weight: 200;
    padding: 1vh 4vh; 
    font-size: 2.5vh;
    color: var(--highlight-color);
    background-color: transparent;
    border: 0.1vh solid var(--highlight-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    z-index: 1;
    align-self: flex-start;
    margin-top: 8vh;
    white-space: nowrap;
}

#landing-contact:hover {
    background-color: var(--highlight-color);
    color: #1D1D1D;
    cursor: pointer;
}



#H {
    color: var(--highlight-color);
}

h2 {
    font-family: 'Inria Sans', sans-serif, 'Times New Roman';
    font-weight: 200;
    color: #a2a2a2;
    font-size: 2.5vh;
    white-space: nowrap;
    letter-spacing: 0.5vh;
}


/* #canvas {
    position: absolute;
    opacity: 1;
    margin: 0;
    padding: 0;
} */

@media screen and (min-width: 400px) {
    h1 {
        font-size: 5.5vh;
    }
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 8vh;
    }

    h2 {
        font-size: 2.5vh;
    }

    #landing-contact {
        font-size: 2.5vh;
        padding-inline: 5vh;
    }

    #landingPage {
        margin-left: 7vh;
    }
}

@media screen and (min-width: 1100px) {
    h1 {
        font-size: 10vh;
    }

    h2 {
        font-size: 3vh;
    }
    
    #landing-contact {
        font-size: 3vh;
        padding-inline: 7vh;
    }

    #landingPage {
        margin-left: 10vh;
    }
}

@media screen and (min-width: 1300px) {
    #landingPage {
        margin-left: 25vh;
    }
}
