
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Kdam+Thmor+Pro&display=swap');

#menu {
    position: fixed;
    display: flex;
    right: 0;
}

#big-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: #0000007d;
    z-index: 99;
    box-shadow: 0 0 0.1vh 0.2vh var(--highlight-color);
    cursor: pointer;
}

#big-container p {
    margin: 0;
    padding: 2vh;
    width: 4vh;
    font-size: 3vh;
    text-align: center;
    transition: 0.05s ease-in-out;
}

#big-container p:hover {
    box-shadow: inset 0 0 0.1vh 0.1vh var(--highlight-color);
    cursor: pointer;
}

#big-container p:active {
    background-color: var(--highlight-color);
    cursor: pointer;
    box-shadow: 0 0 0.5vh 0.5vh var(--highlight-color);
}

#menu-fi {
    border-inline: 0.1vh solid var(--highlight-color);
}

#closedMenuButton {
    color: var(--highlight-color);
    font-size: 6vh;
    margin: 2vh;
    transition: 0.3s ease-in-out;
    position: fixed;
    display: flex;
    right: 0;
    z-index: 99;
    background-color: #1d1d1db8;
}

#closedMenuButton:hover {
    font-size: 7vh;
    margin: 1.5vh;
}

#openedMenuButton {
    color: var(--highlight-color);
    font-size: 6vh;
    margin: 2vh;
    transition: 0.3s ease-in-out;
    position: fixed;
    display: flex;
    right: 0;
    z-index: 99;
}

#openedMenuButton:hover {
    font-size: 7vh;
    margin: 1.5vh;
}

#menuTitle {
    background-color: rgba(0, 0, 0, 0.5);
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

#logo p {
    text-align: center;
}

#menuTitle h2 {
    font-size: 4vh;
    color: white;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    z-index: 2;
    margin-top: -1vh;
}

#menuTitle img {
    color: white;
    width: 15vh;
    aspect-ratio: 1 / 1;
}

#menuTitle p {
    color: #a5a5a5;
    margin: 0;
    margin-block: 2vh;
}

#menuBox {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1D1D1D;
    z-index: 98;
}

#menuItems {
    font-family: 'Inria Sans', sans-serif, 'Times New Roman';
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#menuWork {
    border-top: 0.1vh solid #282828;
}

#menuContact {
    color: var(--highlight-color);
}

.menuItems {

    font-size: 3vh;
    margin: 0;
    color: #8D8D8D;
    border-bottom: 0.1vh solid #282828;
    width: 85%;
    text-align: center;
    padding: 3vh;
    transition: 0.3s ease-in-out;
}

.menuItems:hover {
    color: var(--highlight-color);
}

#contactIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
}

#contactIcons > * {
    color: #8D8D8D;
    font-size: 4vh;
    margin-inline: 5vh;
    transition: 0.3s ease-in-out;
}

#contactIcons > *:hover {
    color: var(--highlight-color);
}

@media screen and (min-width: 600px) {
    #big-container  {
        flex-direction: row;
    }
}

