.card {
    border-radius: 3%;
    background-color: #343434;
    width: 35vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#name {
    color: var(--highlight-color);
    align-self: center;
    margin: 0;
    margin-top: 2vh;
}

.card p {
    margin: 2vh;
}

.techs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.6vh;
    margin-inline: 1.5vh;
}

.techs p {
    border: 0.1vh solid #1D1D1D;
    padding: 0.5vh;
    margin: 0.5vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: -1vh;
}

.buttons button {
    margin: 4vh 1vh 2vh 1vh;
    padding: 1vh 2vh;
    font-size: 2vh;
    font-family: 'Inria Sans', sans-serif, 'Times New Roman';
    font-weight: 200;
    padding: 1vh 2.5vh;
    color: var(--highlight-color);
    background-color: transparent;
    border: 0.1vh solid var(--highlight-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    z-index: 1;
    align-self: flex-start;
}

.buttons button:hover {
    background-color: var(--highlight-color);
    color: #1D1D1D;
    cursor: pointer;
}

@media screen and (min-width: 444px) {
    #card-info {
        font-size: 2.2vh;
    }
}

@media screen and (min-width: 600px) {
}