@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
   --highlight-color: hsl(46, 100%, 57%);
   --highlight-color-darker: hsl(39, 75%, 42%); 
}

body {
margin: 0;
padding: 0;
width: 100%;
background-color: #1D1D1D;
}

h1 {
font-family: 'Fugaz One', cursive, 'Times New Roman';
font-size: 4.5vh;
}

h2 {
font-family: 'Fugaz One', cursive, 'Times New Roman';
font-size: 2vh;
}

h4 {
font-family: 'Inria Sans', sans-serif, 'Times New Roman';
font-weight: 200;
}

p {
font-family: 'Inria Sans', sans-serif, 'Times New Roman';
font-weight: 200;
font-size: 2vh;
}